<p>this is app</p>

<!-- OUR Products SECTION -->


<section class="our-products p-2">
  <div class="container ourproducts">
    <div class="row">
      <!-- First div with heading and subheading -->
      <div class="col-md-12 mb-2 text-center our-products-heading">
        <h2>Our <span>Products</span> </h2>
        <p>Variety of starches we offer.</p>
      </div>

      <!-- Second div with four product items -->
      <div class="col-md-12">
        <div class="row">
          <!-- Product 1 -->
          <div class="col-md-3 product">
            <img src="../assets/images/Rectangle 62.svg" alt="Product 1" class="w-100" />
            <div class="product-detials-box w-90 text-center m-4">
              <div class="rounded-circle our-product-icon-box m-auto">
                <i class="fa-solid fa-droplet" style="font-size: 40px; margin-top: 10px"></i>
              </div>
              <h4>SwiGel M</h4>
              <p>
                Low Moisture is a thick boiling non GMO maize starch. It is
                derived from the wet milling and has been highly refined and
                then dried to a SwiGel 1000 content.
              </p>
              <a href="#" class="our-products-readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span> </a>
            </div>
          </div>

          <!-- Product 2 -->
          <div class="col-md-3 product">
            <img src="../assets/images/medicine62.svg" alt="Product 1" class="w-100" />
            <div class="product-detials-box w-90 text-center m-4">
              <div class="rounded-circle our-product-icon-box m-auto">
                <i class="fa-solid fa-pills" style="font-size: 40px; margin-top: 10px"></i>

              </div>
              <h4>SwiGel M</h4>
              <p>
                Low Moisture is a thick boiling non GMO maize starch. It is
                derived from the wet milling and has been highly refined and
                then dried to a SwiGel 1000 content.
              </p>
              <a href="#" class="our-products-readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span> </a>
            </div>
          </div>

          <!-- Product 3 -->
          <div class="col-md-3 product">
            <img src="../assets/images/corn62.svg" alt="Product 1" class="w-100" />
            <div class="product-detials-box w-90 text-center m-4">
              <div class="rounded-circle our-product-icon-box m-auto">
                <i class="fa-solid fa-pizza-slice" style="font-size: 40px; margin-top: 10px"></i>

              </div>
              <h4>SwiGel T</h4>
              <p>
                The product creates
                translucent appearance,
                stretchy gels and aerated with
                an average length and
                medium viscosity structure.
              </p>
              <a href="#" class="our-products-readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span> </a>
            </div>
          </div>

          <!-- Product 4 -->
          <div class="col-md-3 product">
            <img src="../assets/images/industry62.svg" alt="Product 1" class="w-100" />
            <div class="product-detials-box w-90 text-center m-4">
              <div class="rounded-circle our-product-icon-box m-auto">
                <i class="fa-solid fa-droplet" style="font-size: 50px; margin-top: 10px"></i>
              </div>
              <h4>SwiGel M</h4>
              <p>
                Low Moisture is a thick boiling non GMO maize starch. It is
                derived from the wet milling and has been highly refined and
                then dried to a SwiGel 1000 content.
              </p>
              <a href="#" class="our-products-readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span> </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Third div with "View All" button -->
      <div class="col-md-12  text-center">
        <a href="#" class="btn  view-all-btn">View All</a>
      </div>
    </div>
  </div>
</section>


<!-- GET IN TOUCH SECTION -->
<section class="get-Intouch-info-section">
  <div class="container border">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h3>Get in <span class="touch-word">Touch</span></h3>
          <p>
            If you have any further questions about the project, feel free to
            get in touch with our team via phone and email.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="get-Intouch-infos">
          <div class="single-get-Intouch-infos">
            <div class="icon-box">
              <i class="fa-solid fa-phone-volume"></i>
            </div>

            <div class="text-box">
              <h3>Call us 9:00am - 6:00pm</h3>
              <p>+91 992-520-0393</p>
            </div>
          </div>

          <div class="single-get-Intouch-infos">
            <div class="icon-box">
              <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="text-box">
              <h3>E-mail us</h3>
              <p>info@snesmi.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer section -->

<footer class="site-footer fixed-footer">
  <div class="main-footer p-5 pb-0">
    <div class="container border-bottom pb-4">
      <div class="row gap-3">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget about-widget">
            <a href="#"><img src="../assets/images/Group 77.svg" alt="Company Image" /></a>
            <h3 class="mt-4">About us</h3>
            Pregelatinized starch and its processed product having thickening,
            gelatinizing, emulsifying, texturing and binding properties are
            commonly used for pharmaceutical industry, food industry and other
            non-editable industry.
          </div>
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="footer-widget links-widget">
            <div class="textwidget">
              <div class="title">
                <h3>Links</h3>
              </div>

              <ul class="links-list">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Our Products</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--col-md-2 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget services-widget">
            <div class="textwidget">
              <div class="title">
                <h3>Services</h3>
              </div>

              <ul class="links-list">
                <li><a href="#">SWIGEL 1000 - Low Moisture </a></li>
                <li><a href="#"> SWIGEL 500 - Pharma Starch</a></li>
                <li><a href="#"> SWIGEL 300 - Food Starch</a></li>
                <li><a href="#">SWIGEL 100 - Industrial Starch</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--main-footerEnd-->

  <!-- footer-bottom -->
  <div class="footer-bottom p-4">
    <div class="container text-center">
      <p>© Copyright Snesmi 2024. All right reserved.</p>
    </div>
  </div>
</footer>